
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@if (ViewBag.DKTC != null && Session["TaiKhoan"] != null)
{
    <div class="alert alert-success">
        @ViewBag.DKTC
    </div>
}

<div class="login-container">
    <div class="login-box">
        <h2>Đăng nhập</h2>
        @using (Html.BeginForm("DangNhap", "User", FormMethod.Post))
        {<span class="text-danger">@ViewBag.ThongBao</span>
            <div class="input-group">
                @Html.TextBox("TenDN", null, new { @placeholder = "Tên đăng nhập" })
                <span class="text-danger">@ViewData["Err1"]</span>
            </div>
            <div class="input-group">
                @Html.Password("MatKhau", null, new { @placeholder = "Mật khẩu" })
                <span class="text-danger">@ViewData["Err2"]</span>
            </div>
            <div class="forgot-password">
                <a href="#">Quên mật khẩu?</a>
            </div>
            <button type="submit" class="login-button">Đăng Nhập Ngay</button>
        }
        <div class="register">
            <button class="register-button">
                <a href="@Url.Action("Register", "Laptop")">Tạo tài khoản mới</a>
            </button>
        </div>
    </div>
</div>

