@model IEnumerable<WebsiteBanLaptop.Models.SANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@if (ViewBag.DKTC != null && Session["TaiKhoan"] != null)
{
    <div class="alert alert-success">
        @ViewBag.DKTC
    </div>
}
<section id="hero">
    <h4><i class="fas fa-laptop-alt"></i> LAPTOP STORE </h4>
    <h2></h2>
    <h1>Sở hữu ngay laptop hiệu năng khủng từ LAPTOP Store.</h1>
    <p>Mua ngay để nhận được những ưu đãi cực khủng.</p>
    <button><b>Mua ngay</b></button>
</section>
<section id="feature" class="section-p1">
    <div class="truck">
        <i class="fas fa-truck"></i>
        <h6><b>Giao hàng toàn quốc</b></h6>
    </div>
    <div class="truck">
        <i class="fas fa-money-bill"></i>
        <h6><b>Miễn phí vận chuyển</b></h6>
    </div>
    <div class="truck">
        <i class="fas fa-copyright"></i>
        <h6><b>Chính hảng</b></h6>
    </div>
    <div class="truck">
        <i class="fas fa-repeat"></i>
        <h6><b>Đổi trả miễn phí</b></h6>
    </div>
    <div class="truck">
        <i class="fas fa-pig"></i>
        <h6><b>Tiết kiệm tiền</b></h6>
    </div>
    <div class="truck">
        <i class="fas fa-user-headset"></i><br>
        <h6><b>Hỗ trợ 24/7</b></h6>
    </div>
</section>
<section id="product1" class="section-p1">
    <h2>SẢN PHẨM BÁN CHẠY</h2>
    <p>Sản phẩm chính hảng, đổi trả trong vòng 7 ngày</p>
    <div class="pro_container" id="pro_container">
        @foreach (var item in Model)
        {
            <div class="pro">
                <img src="~/img/products/@item.HINHANH" alt="">
                <div class="des">
                    <span>@item.THUONGHIEU.TENTH</span>
                    <h5><a href="@Url.Action("ChiTietSP","Laptop", new { id =item.MASP})">@item.TENSP</a></h5>
                    <h4>@Html.FormatValue(item.GIA, "{0:#,##0}") VNĐ</h4>
                </div>
                <a href="@Url.Action("ThemGioHang", "GioHang", new { id = item.MASP, redirectUrl = Request.Url.ToString() })"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        }

    </div>
</section>

<section id="banner" class="section-m1">
    <h4>Dịch Vụ Sửa Chữa</h4>
    <h2>Giảm giá lên tới <span>70% </span> - Tất cả sản phẩm & Phụ kiện</h2>
    <button class="normal">Xem Thêm</button>
</section>


@Html.Action("PartialSPMoi", "Laptop")
