@model IEnumerable<WebsiteBanLaptop.Models.SANPHAM>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<section id="page-header">
    <h2>Tận hưởng trải nghiệm tuyệt vời</h2>
    <p>Mua ngay để nhận được những ưu đãi cực khủng.</p>
</section>
<section id="product1" class="section-p1">
    <div class="pro_container" id="pro_container">
        @foreach (var item in Model)
        {
            <div class="pro">
                <img src="~/img/products/@item.HINHANH" alt="">
                <div class="des">
                    <span>@item.THUONGHIEU.TENTH</span>
                    <h5><a href="@Url.Action("ChiTietSP","Laptop", new { id =item.MASP})">@item.TENSP</a></h5>
                    <h4>@Html.FormatValue(item.GIA, "{0:#,##0}") VNĐ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        }

    </div>
</section>

<section id="pagination" class="section-p1">
    @if (ViewBag.TotalPages > 1)
    {
        <a href="@Url.Action("Product", new { page = 1 })">First</a>

        if (ViewBag.CurrentPage > 1)
        {
            <a href="@Url.Action("Product", new { page = ViewBag.CurrentPage - 1 })">Previous</a>
        }

        for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            if (i == ViewBag.CurrentPage)
            {
                <strong>@i</strong> <!-- Trang hiện tại được in đậm -->
            }
            else
            {
                <a href="@Url.Action("Product", new { page = i })">@i</a>
            }
        }

        if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a href="@Url.Action("Product", new { page = ViewBag.CurrentPage + 1 })">Next</a>
        }

        <a href="@Url.Action("Product", new { page = ViewBag.TotalPages })">Last</a>
    }
</section>


